## Variables

Create a variable with name "x" and a value of 10. Execute.

In [1]:
x = 10

Tell the computer to show you the value of that variable.

In [2]:
x

10

Can you think of a second way to obtain the same result?

In [3]:
print(x)

10

On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [4]:
a,b,c,d = (10,20,30,40)

Tell the computer to show you the value corresponding to the variable "b".

In [5]:
b

20

Do the same for "d".

In [6]:
d

40

## Numbers and Boolean Values

Create a variable equal to "True".

In [8]:
variable = True

Check its type.

In [9]:
type(variable)

bool

Create a variable equal to 99.

In [10]:
a = 99

Check its type.

In [11]:
type(a)

int

Check the type of the value 0.99.

In [12]:
type(0.99)

float

Turn 99 into a *float*.

In [13]:
float(99)

99.0

Turn 0.99 into an integer. What value did you get?

In [14]:
int(0.99)

0

## Strings

Assign the value of 100 to the variable "m".

In [16]:
m = 100

With the help of the variable "m", write one line of code where the output after executuion would be *100 days*.

*Hint:* *You could provide four answers to this question!*

In [19]:
a = str(m) + " days"

In [20]:
a

'100 days'

Produce an output equal to *It's cool, isn't it?*

In [21]:
b = "It's cool, isn't it?"
b

"It's cool, isn't it?"

Fix the string below.

In [22]:
'Don\'t be shy'

"Don't be shy"

Produce an output equal to *Click "OK"*.

In [23]:
'Click "OK"'

'Click "OK"'

Include a plus sign in your line of code to produce *'Big Houses'*.

In [24]:
"Big" + " Houses"

'Big Houses'

Include a trailing comma in your line of code to produce *Big Houses*.

In [26]:
print("Big", "Houses")

Big Houses